<% include ../partials/header %>

<div class="container">
  <div class="jumbotron">
    <h1> <%= user.firstName %> <%= user.lastName %> here, </h1>
    <em><p class="text-muted">we would like to welcome you on our page</em></p>
  </div>
</div>

<div class="container">
  <%= user.firstName %>
  <%= user.lastName %>
  <%= user.username %>
  <%= user.email %>
  <%= user.telephone %>
  <%= user.isAdmin %>
  <%= user.isServiceProvider %>
  <%= user.isCustomer %>
</div>

<% include ../partials/footer %>
